[Unit]
Description=Fantom Node
After=network.target

[Service]
User={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/opera \
 --genesis {{ fantom_data_directory }}/{{ fantom_genesis }} \
 --identity {{ nickname }} \
 --cache 8096 \
 --http --http.addr 0.0.0.0 \
 --http.corsdomain '*' \
 --http.vhosts "*" \
 --http.api "eth,net,web3"
Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
