[Unit]
Description=Binance Node
After=network.target

[Service]
User={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/binance \
 --config {{ binance_data_directory }}/config.toml \
 --datadir {{ binance_data_directory }} \
 --txlookuplimit=0 --syncmode=full --tries-verify-mode=none --pruneancient=true --diffblock=5000 \
 --port {{ binance_p2p_port }} \
 --http \
 --http.port {{ binance_http_port }} \
 --ws \
 --ws.origins '*' \
 --ws.port {{ binance_ws_port }} \

Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
