[Unit]
Description=Binance Node
After=network.target

[Service]
User={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/binance \
 --config {{ binance_data_directory }}/config.toml \
 --datadir {{ binance_data_directory }} \
 --port {{ binance_p2p_port }} \
 --http \
 --http.port 18545 \
 --ws \
 --ws.origins '*' \
 --ws.port 18546 \

Restart=on-failure
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
